body {
    width: 1080px;
    margin: auto;
}

ul {
    padding: 0;
    margin: 0;
}
/* INDEX */
.index .tag {
    display: inline-block;
    margin-right: 10px;
}

.medias {
    width: 500px;
    margin: auto;
}
.medias .media {
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
    max-width: 500px;
    list-style: none;
}

.medias .media .metadata {
    margin: 10px 0;
}

.medias .media img {
    max-width: 500px;
}

.medias .media .metadata .created-date {
    margin-left: 15px;
}

.medias .media .metadata .see-more {
    margin-left: 15px;
}
/* TAGS */
.media .tags {
    max-width: 500px;
}
.media .tags .tag {
    display: inline-block;
    margin-right: 5px;
}
.media .tags .tag:last-child {
    margin-right: 0;
}

/* A single media */
.comment {
    max-width: 490px;
    border: 1px solid #ccc;
    margin: 10px auto;
    padding: 5px;
    overflow: auto;
}
.comment a {
    display:inline-block;
    margin-right: 10px;
}
.comment .profile-picture {
    float:left;
    width: 50px;
    margin-right: 10px;
}

/* Create a spaning */
.spaning form {
    margin-top: 10px;
}
.spaning label {
    display:block;
}
.spaning input {
    display:block;
    margin-bottom: 15px;
}